<header [ngClass]="headerClass">
  <div class="container">
  <nav class="navbar navbar-expand-lg c-header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand name-brand" routerLink="/">
      <img src="/assets/images/profile-img.png" alt="">
      Sibin Xavier
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav ml-auto mr-0 mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLinkActive="active" routerLink="/services">Services</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link" routerLinkActive="active" routerLink="/hireme">Hire Me</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link" routerLinkActive="active" routerLink="/schedule">Schedule</a>
        </li>
        <li class="nav-item"><a href="http://www.7chip.com" target="_blank" class="nav-link">Company</a></li>
        <li class="nav-item"><a href="http://blog.7chip.com" target="_blank" class="nav-link">Blog</a></li>
      </ul>
    </div>
  </nav>
  </div>
</header>




