<div class="education-experience section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-2 mb-3">
          <h5 class="section-title-bg text-center mb-2">know what i learned</h5>
          <h2 class="section-title text-center mb-5">Education</h2>
        </div>
        <article class="text-center">
          I hold a bachelor degree in Electronics and Communication engineering. In additional to my primary education i pursue
          Diploma in Java and Oracle from NIIT. Now a day i eagerly follow Lynda and other online tutorial websites.
        </article>
        <div class="education-box-outer">
          <div class="education-box clearfix">
            <div class="education-each" *ngFor="let education of educations">
              <div class="card">
                <div class="card-block card-body">
                  <h5>{{education.college.name}}</h5>
                  <p>
                    {{education.note}}
                  </p>
                </div>
              </div>
              <div class="dot-A">

              </div>
              <div class="dot-B">

              </div>
              <div class="year">
                {{ education | yearSpan }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>