<div class="blog-wrapper section" *ngIf="posts.length">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center text-uppercase section-title">Our Latest Blog Posts</h4>
                <article class="text-center mb-5 info">
                    Our Latest articles about Frontend Development, Infrastructure, Gadgets
                </article>
                <div class="blog-posts row">
                    <div class="post col-12 col-sm-12 col-md-4 post-item" *ngFor="let post of posts">
                        <div class="card">
                            <div class="card-image" *ngIf="post.image">
                                <img [src]=" post.image " alt="{{post.title.rendered}} " class="img-fluid ">
                            </div>
                            <div class="card-block card-body">
                                <h5 class="card-title mb-4">
                                    <a href="{{post.link}} " *ngIf="post.link">
                    {{post.title.rendered}}
									</a>
                                </h5>
                                <h6>
                                    {{post.date}}
                                </h6>
                                <section [innerHTML]="post.excerpt.rendered">
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-center more ">
                    <a href="http://blog.7chip.com " target="_blank "
                       class="btn btn-light btn-round text-capitalize text-bold ">
            Visit Our Blog
					</a>
                </p>
            </div>
        </div>
    </div>
</div>