<div class="portfolio-page c-normal-page">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>
          Please check my Portfolio Website
        </h1>
        <div class="alert alert-info">
          <p>
            Website: <a href="http://works.7chip.com" target="_blank">Portfolio</a>
          </p>
          <p>
            username: clients
          </p>
          <p>
            password: shows_my_works
          </p>
        </div>
      </div>
    </div>
  </div>
</div>