<div class="page-content">
  <!-- Landing Section -->
  <div class="landing-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-uppercase text-center main-title">
            I AM
            <span class="name">Sibin Xavier</span>
          </h2>
          <h1 class="text-center skill-title text-uppercase">
            Professional
            <span id="typed-skill"></span>
          </h1>
          <section class="text-center">
            <a href="/assets/pdfs/sibin-resume-acr-2017.pdf" target="_blank"
               class="text-uppercase btn btn-lg btn-dark rounded-0 get-in-touch">
              Download Resume
            </a>
            <a href="#get-in-touch"
               class="btn btn-lg btn-success rounded-0
               text-uppercase get-in-touch">
              Hire me for Work
            </a>
          </section>
        </div>
      </div>
    </div>
  </div>
  <!-- End Landing Section -->
  <!-- Profile Information -->
  <div class="profile-information section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 offset-0 offset-sm-0 offset-md-0 ">
          <div class="section-title-2 mb-3">
            <h5 class="section-title-bg text-center mb-2">know about me</h5>
            <h2 class="section-title text-center mb-5">About me</h2>
          </div>

          <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
              <img src="/assets/images/profile-img.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-8">
              <section class="content" innerHTML="{{profileInfo.bio}}"></section>
              <table class="table small-table no-border">
                <tbody>
                <tr *ngFor="let item of profileInfo.data">
                  <td [style]>
                    <b>{{item.label}}</b>
                  </td>
                  <td>
                    <span *ngIf="!item.link && !item.html">{{item.value}}</span>
                    <a href="{{item.href}}" *ngIf="item.link" target="_blank">{{item.value}}</a>
                    <div *ngIf="item.html" innerHTML="{{item.value }}"></div>
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="download-more">
                <a href="/assets/pdfs/sibin-resume-acr-2017.pdf" class="btn btn-success" target="_blank">Download
                  CV</a>
                <a routerLink="recent-work" class="btn btn-outline-success">Check My Works</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- End Profile Information -->
  <!-- My Skills section -->
  <div class="skill-section section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-10 offset-1">
          <div class="section-title-2 mb-3">
            <h5 class="section-title-bg text-center mb-2">know my skills</h5>
            <h2 class="section-title text-center mb-5">Skills</h2>
          </div>
          <article class="text-center">
            I learned differnt skills from varioud company, also i am very keen to learn new Technologies. Usually i
            download
            Tutorials from torrent or subscribe Lynda.com and learn new stuff. I also use YouTube and watch Tutorials.
            Now a days i check Tutorials websites, API and source code to learn new thing and explore. Below are
            some of my Skills... I can also learn new things if client require...
          </article>
          <div class="skill-set row">
            <app-progress-bar *ngFor="let skill of skills" [skill]="skill" class="col-12 col-sm-6 "></app-progress-bar>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- End My Skills section -->
  <!-- Let's work together -->
  <div class="lets-work section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4 class="text-uppercase text-center">Let's work together</h4>
          <article class="text-center">
            I am very flexible, available almost 12-16 Hr per day. I can work at morning or night depend upon clients
            requirements.
            My charges are also different and it vary from 5$ to 20$ per hour.
          </article>
          <p class="text-center">
            <a href="" class="btn btn-success ">Get Quotes</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Let's work together -->
  <!-- My Portfolio -->
  <div class="my-portfolio section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-2 mb-3">
            <h5 class="section-title-bg text-center mb-2">know what i done</h5>
            <h2 class="section-title text-center mb-5">Portfolios</h2>
          </div>
          <article class="text-center">
            <p class="mb-5">
              I have completed more than 50+ Projects on Freelancer and many other via direct contact. I can show you my
              PSD to HTML and
              WordPress Template projects. In addition to this I have worked on many other applications, testings and
              infrastructure
              like docker and Heroku
            </p>
            <p class="text-center">
              <a href="" class="btn btn-success">
                More Projects
              </a>
            </p>
          </article>
        </div>
      </div>
    </div>
  </div>
  <!-- End My Portfolio -->
  <!-- Experience -->
  <app-experience></app-experience>
  <!-- End Experience -->
  <!-- Education -->
  <app-education></app-education>
  <!-- End Education -->
  <!-- My Services -->
  <div class="home-service section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-2 mb-3">
            <h5 class="section-title-bg text-center mb-2">know what i can do</h5>
            <h2 class="section-title text-center mb-5">Services</h2>
          </div>
          <article class="text-center">
            I offer different services, PSD to HTML/ WordPress conversion. Full Frontend Development, Full Stack
            development
            with Laravel, Ruby On Rails, MEAN and WordPress.
          </article>
          <div class="service-box">
            <div class="row">
              <div class="col-12">
                <div class="card-deck service-table">
                  <div class="card" *ngFor="let service of services">
                    <div class="card-image-block">
                      <img [src]="service.image" alt="{{service.title}}" class="card-img img-fluid">
                      <div class="card-img-overlay">
                        <h5 class="price">
                          {{ service.price }}
                        </h5>
                      </div>
                    </div>
                    <div class="card-block card-body">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>
                            <h4 class="text-uppercase title">
                              {{ service.title }}
                            </h4>
                          </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let child of service.children">
                          <td>
                            {{ child }}
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End My Services -->
  <!-- Latest blog -->
  <app-blog></app-blog>
  <!-- End Latest blog -->
  <!-- Get in Touch -->
  <div class="get-in-touch-section section" id="get-in-touch">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4 class="text-uppercase text-center">Get in touch</h4>
          <article class="text-center">
            If you are looking a for a Frontend Developer, Ruby on Rails Developer, WordPress and Laravel Developer,
            I can help you. Please send me a message and i will reply as soon as possible.
          </article>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6">
              <div class="card light-blue contact-form">
                <div class="card-block card-body">
                  <h5 class="text-bold">Contact me!!!</h5>
                  <p class="">
                    Send message with below form, I will send reply to your email address. Please check on spam folder
                    also.
                  </p>
                  <form (ngSubmit)="contactSubmit()" name="contact_form" #contactForm="ngForm">
                    <div class="row">
                      <div class="col-12 col-sm-6">
                        <div class="form-group">
                          <input type="text" class="form-control" id="contact-name" placeholder="Name"
                                 [(ngModel)]="contact.name" #contactName="ngModel" required="required"
                                 [ngClass]="{'is-invalid': (contactName.invalid && contactName.dirty)}"
                                 name="name">
                          <div
                            [ngClass]="{ 'valid-feedback':contactName.valid, 'invalid-feedback':(contactName.invalid && contactName.dirty) }"
                            *ngIf="contactName.invalid"
                          >
                            <span *ngIf="(contactName.invalid && contactName.dirty)">Please enter your Name</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <div class="form-group">
                          <input type="email" class="form-control" id="contact-email" placeholder="Email"
                                 [(ngModel)]="contact.email" #contactEmail="ngModel" required="required"
                                 name="email"
                                 [ngClass]="{'is-invalid': (contactEmail.invalid && contactEmail.dirty)}"
                          >
                          <div
                            [ngClass]="{ 'valid-feedback':contactEmail.valid, 'invalid-feedback':(contactEmail.invalid && contactEmail.dirty) }"
                            *ngIf="contactEmail.invalid"
                          >
                            <span *ngIf="(contactEmail.invalid && contactEmail.dirty)">Please enter your Name</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="text" name="subject" id="contact-subject" placeholder="Subject"
                             [(ngModel)]="contact.subject" #contactSubject="ngModel" required="required"
                             class="form-control"
                             [ngClass]="{'is-invalid': (contactSubject.invalid && contactSubject.dirty)}"
                      >
                      <div
                        [ngClass]="{ 'valid-feedback':contactSubject.valid, 'invalid-feedback':(contactSubject.invalid && contactSubject.dirty) }"
                        *ngIf="contactSubject.invalid"
                      >
                        <span *ngIf="(contactSubject.invalid && contactSubject.dirty)">Please enter your Name</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <textarea name="message" id="contact-message" class="form-control"
                                cols="30" rows="4" placeholder="Message" required="required"
                                [(ngModel)]="contact.message" #contactMessage="ngModel"
                                [ngClass]="{'is-invalid': (contactMessage.invalid && contactMessage.dirty)}"
                      ></textarea>
                      <div
                        [ngClass]="{ 'valid-feedback':contactMessage.valid, 'invalid-feedback':(contactMessage.invalid && contactMessage.dirty) }"
                        *ngIf="contactMessage.invalid"
                      >
                        <span *ngIf="(contactMessage.invalid && contactMessage.dirty)">Please enter your Name</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <button class="btn btn-block btn-success" [disabled]="!contactForm.valid">Send</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <div class="card light-blue contact-form address-box">
                <div class="card-block card-body">
                  <h5 class="text-bold">Contact me!!!</h5>
                  <p class="">
                    Directly contact with given address and phone number. I will available almost every time.

                  </p>
                  <div class="media mb-4">
                    <div class="d-flex mr-3">
                      <span class="text-image">
                        <i>A</i>
                      </span>
                    </div>
                    <div class="media-body">
                      <strong>Address</strong>
                      <p>
                        Thottanakara House
                      </p>
                      <p>
                        Cheranalloor P.O, Koovappady
                      </p>
                      <p>
                        Ernakulam, PIN 683544
                      </p>
                    </div>
                  </div>
                  <div class="media mb-4">
                    <div class="d-flex mr-3">
                      <span class="text-image">
                        <i>E</i>
                      </span>
                    </div>
                    <div class="media-body">
                      <strong>Email</strong>
                      <p>
                        sibinx7@gmail.com, sibinx7@outlook.com
                      </p>
                    </div>
                  </div>
                  <div class="media">
                    <div class="d-flex mr-3">
                      <span class="text-image">
                        <i>P</i>
                      </span>
                    </div>
                    <div class="media-body">
                      <strong>Phone</strong>
                      <p>
                        +91-89436481989, +91-8281604078,
                        +91-8589961286
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Get in Touch -->
</div>