table td:first-child{
  width: 120px;
}

.service-table{
  .card-img{
    border-radius: 0;
  }
  .card-img-overlay{
    .price{
      display: table;
      margin-left: auto;
      margin-right:auto;
      padding: 6px 10px;
      border-radius: 4px;
      background: #7693ca;
      color: #fff;
    }
  }
  .card-block{
    padding: 0;
  }
  table{
    .title{
      margin-top: 10px;
      margin-bottom: 10px;
    }
    th,td{
      border: none;
      text-align: center;
    }
    tr{
      th{
        background: #2ED87B;
        color: #fff;
      }
    }
    tbody{
      tr{
        td{
          border-bottom: 1px solid #f1f1f1;
        }
        &:last-child{
          td{
            border: none;
          }
        }
      }
    }
  }
}

@-webkit-keyframes  change_linear_bg{
  0%{
    background-image: -webkit-linear-gradient(to left, #fffb04, #03ff9e, #36beff);
    background-image: linear-gradient(to right,#fffb04, #03ff9e, #36beff);
  }
  33.33%{
    background-image: -webkit-linear-gradient(to left,  #03ff9e, #36beff, #fffb04);
    background-image: linear-gradient(to right, #03ff9e, #36beff, #fffb04);
  }
  66.66%{
    background-image: -webkit-linear-gradient(to left, #36beff, #fffb04, #03ff9e);
    background-image: linear-gradient(to right,  #36beff, #fffb04, #03ff9e);
  }
  100%{
    background-image: -webkit-linear-gradient(to left, #fffb04, #03ff9e, #36beff);
    background-image: linear-gradient(to right,#fffb04, #03ff9e, #36beff);
  }
}

@keyframes change_linear_bg {
  0%{
    background-image: -webkit-linear-gradient(to left, #fffb04, #03ff9e, #36beff);
    background-image: linear-gradient(to right,#fffb04, #03ff9e, #36beff);
  }
  33.33%{
    background-image: -webkit-linear-gradient(to left,  #03ff9e, #36beff, #fffb04);
    background-image: linear-gradient(to right, #03ff9e, #36beff, #fffb04);
  }
  66.66%{
    background-image: -webkit-linear-gradient(to left, #36beff, #fffb04, #03ff9e);
    background-image: linear-gradient(to right,  #36beff, #fffb04, #03ff9e);
  }
  100%{
    background-image: -webkit-linear-gradient(to left, #fffb04, #03ff9e, #36beff);
    background-image: linear-gradient(to right,#fffb04, #03ff9e, #36beff);
  }
}




.main-title{
  .main-land-title{
    display: inline-block;
    -webkit-background-image: linear-gradient(right, #fffb04, #03ff9e, #36beff);
    background-image: linear-gradient(to right,#fffb04, #03ff9e, #36beff);
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
    -webkit-animation: change_linear_bg 1s infinite;
    animation: change_linear_bg 1s infinite;
    -webkit-transition: all 0.3s ease 0.03s;
    transition: all 0.3s ease 0.03s;
    span{
      color: transparent;
      text-shadow: none;
      font-weight: bold;
    }
  }
}




